@font-face {
	font-family: "DIN Pro light";
	src: url(./fonts/Din_Pro/Din_ProLight/dinpro_light.otf);
}
@font-face {
	font-family: "DIN Pro bold";
	src: url(./fonts/Din_Pro/Din_ProBold/dinpro_bold.otf);
}

.wrapper {
	@import "mainW/contentCart";
}
