// основные размеры экранов:
//320px, 480px, 600px, 768px, 1024px
$font-size-header: 18px;
@import "./basket/mediaBasket";
@import "./sidebar/mediaSidebarMax";

@media (max-width: 860px) {
	.wrapper {
		display: block;
		.container {
			padding: 0px 15px;
		}
		main {
			.footer {
				&__menu {
					padding: 11px 100px 0px 20px;
				}
				&__contacts {
					padding: 10px 20px 60px 20px;
				}
				&__phones {
					padding: 10px 0px 0px 20px;
				}
			}
			.cards {
				&__inner-title {
					display: flex;
					flex-direction: column;
					align-items: center;
				}
				&__title {
					display: inline-block;
				}
				&__inner {
					display: block !important;
				}
				&__seth {
					margin-bottom: 10px;
					border-radius: 10px;
					flex-direction: row;
					align-items: center;
					&-description {
						border-bottom: none;
						padding: 5px 0px 0px 17px;
					}
					&-down {
						justify-content: flex-start;
						padding: 20px 20px 20px 17px;
					}
					&-title {
						padding: 20px 0px 0px 17px;
						white-space: nowrap;
						margin: 0;
						display: inline-block;
						flex: none;
					}
				}
				&__info-inner {
					flex: 1 1 auto;
					display: flex;
					flex-direction: column;
				}
			}
		}
	}
}
@media (max-width: 768px) {
	.wrapper {
		main {
			.header {
				background-color: #ffffff;
				padding-left: 55px;
				&__contacts {
					display: flex;
					border-right: none;
					position: relative;
					padding: 0px 18px 0px 63px;
					margin: 6px 0px 8px 0px;
					&::before {
						content: "";
						position: absolute;
						background-image: url(../assets/img/media/logo.svg);
						width: 90px;
						height: 100%;
						background-repeat: no-repeat;
						background-size: 100% 100%;
						top: 0;
						bottom: 0;
						left: 0;
						margin: auto;
					}
					&-connect {
						padding: 6px 33px 0px 0px;
					}
					&-title {
						font-size: $font-size-header;
					}
					&-chart {
						padding: 0px;
						display: flex;
						text-align: center;
						justify-content: center;
						align-items: center;
						line-height: 17px;
						font-size: 14px;
						margin: 8px 30px 0px 0px;
						&::before {
							width: 20px;
							height: 20px;
							top: 0;
							left: 0;
							right: 0;
							margin: auto;
							background-size: 100% 100%;
						}
					}
					&-phone {
						white-space: nowrap;
					}
				}
				&__city {
					display: none;
				}
				&__clients {
					&-reviews {
						display: none;
					}
					&-delivery {
						display: none;
					}
				}
			}
			.cards {
				&__seth {
					&-image {
						padding: 0;
						max-width: 200px;
						max-height: 200px;
						img {
							max-width: 100%;
							max-height: 100%;
						}
					}
				}
			}
			.footer {
				&__inner {
					display: block;
					text-align: center;
					padding-top: 0px;
				}
				&__menu {
					display: none;
				}
				&__contacts {
					padding: 20px 0px 30px 0px;
					border-right: none;
					&-title {
						display: none;
					}
					&-input {
						display: none;
					}
				}
				&__socials {
					justify-content: center;
				}
				&__phones {
					padding: 0px 0px 30px 0px;
				}
				&__extra {
					display: block;
				}
			}
		}
	}
}
@media (max-width: 550px) {
	.wrapper {
		main {
			.header {
				padding-left: 25px;
				&__contacts {
					&::before {
						width: 50px;
						height: 50px;
					}
					&-connect {
						padding: 6px 13px 0px 0px;
					}
					&-title {
						font-size: $font-size-header - 1px;
					}
					&-phone {
						padding-left: 15px;
					}
					&-chart {
						font-size: 15px;
						line-height: 17px;
						margin: 8px 0px 0px 0px;
						max-width: 87px;
						&::before {
							width: 15px;
							height: 15px;
						}
					}
				}
				&__clients {
					padding: 37px 20px 35px 0px;
					&-search {
						padding-left: 0px;
						width: 30px;
						height: 30px;
						img {
							max-width: 100%;
							max-height: 100%;
						}
					}
				}
			}
			.order {
				&__eat {
					flex-direction: column;
					&-img {
						flex: 1 1 auto;
					}
				}
				&__total {
					&-orders {
						font-size: 15px;
					}
					&-price {
						font-size: 15px;
					}
				}
			}
			.cards {
				&__seth {
					&-image {
						padding: 0;
						max-width: 150px;
						max-height: 150px;
					}
				}
			}
		}
	}
}
@media (max-width: 480px) {
	.wrapper {
		main {
			.cards {
				&__seth {
					&-title {
						font-size: 18px;
						line-height: 17px;
					}
					&-size {
						font-size: 22px;
					}
					&-btn {
						font-size: 22px;
						padding: 2px 25px;
					}
				}
			}
		}
	}
}
@media (max-width: 400px) {
	.wrapper {
		main {
			.cards {
				&__seth {
					&-title {
						font-size: 14px;
						line-height: 17px;
					}
					&-description {
						font-size: 14px;
					}
					&-size {
						font-size: 18px;
					}
					&-btn {
						font-size: 18px;
						line-height: 22px;
						padding: 2px 25px;
					}
				}
			}
		}
	}
}
@import "./sidebar/mediaSidebarMin";
